boto3==1.12.14
botocore==1.15.29
chevron==0.13.1
Click==7.0
colorama==0.4.3
cookiecutter==1.6.0
dateparser==0.7.2
decorator==4.4.2
Django==2.0.2
dnspython==1.16.0
docker==4.2.0
docutils==0.15.2
Flask==1.0.4
git-remote-codecommit==1.13
ipython==7.13.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jinja2-time==0.2.0
jsonschema==3.2.0
PAM==0.4.2
parso==0.1.1
pbr==5.4.4
pexpect==4.8.0
pickleshare==0.7.5
poyo==0.5.0
prompt-toolkit==3.0.4
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycrypto==2.6.1
Pygments==2.6.1
pygobject==3.26.1
PyJWT==1.5.3
pylint==1.8.1
pylint-django==0.8.0
pylint-flask==0.5
pylint-plugin-utils==0.6
pymongo==3.10.1
pyOpenSSL==17.5.0
pyrsistent==0.15.7
pyserial==3.4
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.0
python-debian==0.1.32
pytz==2019.3
pyxdg==0.25
PyYAML==5.3.1
regex==2020.2.20
requests==2.22.0
Werkzeug==1.0.0