body {
    background-color: #c1432e;
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.word_header {
    margin-top: 5px;
    text-transform: lowercase;
}

.brand-logo {
    font-family: 'Bitter', serif;
    font-weight: 700;
    margin-left: 17px;
}

nav .brand-logo {
    color: #ffd7a3;
}

.nav-wrapper {
    background-color: #4b6777;
}

.sidenav  {
    background-color: #4b6777;
    font-family: 'Bitter', serif;
    color: #ffd7a3;
    font-weight: bold;
}

.sidenav li > a {
    background-color: #4b6777;
    font-family: 'Bitter', serif;
    color: #ffd7a3;
    font-weight: bold;
}

h3 {
    font-family: 'Bitter', serif;
    color: #ffd7a3;
    text-align: center;
}

h5,h4 {
    font-family: 'Bitter', serif;
    color: #ffd7a3;
    text-align: center;
    font-weight: bold;
}

.welcome {
    font-family: 'Bitter', serif;
    color: #ffd7a3;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}

nav ul a {
    font-family: 'Bitter', serif;
    color: #ffd7a3;
    font-weight: bold;
}


.collapsible-body, .collapsible-header {
    background-color: #ffd7a3;
    border-bottom: 1px dotted #c1432e;
}

.material-icons {
    color: #ffd7a3;
}

.btn {
    font-family: 'Bitter', serif;
    font-weight: bold;
    background-color: #ce9e62 !important;
    color: #2c2c2c;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 2px 1px 2px rgba(0,0,0,0.12),0 1px 20px 0 rgba(0,0,0,0.2);
    margin-left: 24px;
}

.btn_small {
    background-color: #ce9e62 !important;
    font-size: 11px;
    margin-left: 10px;
}

.footer a {
    color: #ffd7a3;
    position: relative;
    bottom: -70px;
}

.about {
    font-family: 'Bitter', serif;
    color: #2c2c2c;
}

h6 {
   font-family: 'Bitter', serif;
   color: #ffd7a3; 
}

h6 a {
   font-family: 'Bitter', serif;
   color: #ffd7a3; 
   font-weight: bold;
}

.speechpart_header {
    margin-left: 10px;
    margin-top: 6px;
}


.edit-delete {
    margin-top: -17px;
}

.row .col.s4 {
    width: 80%;
    margin-left: -15px;
    left: auto;
    right: auto;
}

#part_of_speech.validate {
    border-color: #a62a15;
}



@media only screen and (max-width: 992px) {
  .brand-logo {
    font-family: 'Bitter', serif;
    font-weight: 700;
    margin-left: 0px;
}
}




