{% extends 'base.html' %}
{% block content %}

<div class="about row center-align">    

<h3>What is Flexicon</h3>
</br>

<h6>Flexicon is derived from the word lexicon which means dictionary.</h6>
<h6>Lexicon is a word of Greek-Latin origins, but you are here to know about <a href="{{ url_for('home_page') }}">Flexicon</a>.</h6>
</br>
</br>
<h6>Flexicon is your flexible lexicon.</h6>
<h6>If you have an original word in mind or atleast you think it is original, add it <a href="{{ url_for('add_word') }}">here</a>.</h6>
</br>
</br>
<h6>This page is for new, uncommon, and made-up words that are may not be used in regular speech, but you think it should be shared and known.</h6>
<h6>So as long as your script is in English, go ahead and a word.</h6>
<h6>If you find an existing word that needs a better definition, add it as a new word or edit it of you think its entirely wrong.</h6>
</br>
</br>
<h6>Note: Words are checked on a daily basis by the website administrators for duplicates, incomplete entries and website abuse.</h6>
</br>
</br>
</br>
</br>
</br>
</br>

</div>




{% endblock %}