<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Flexicon</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        
        <!-- Static CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    
        
    </head>
    
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="{{ url_for('home_page') }}" class="brand-logo">Flexicon</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('home_page') }}">Words</a></li>
                        <li><a href="{{ url_for('add_word') }}">New Word</a></li>
                        <li><a href="{{ url_for('get_partofspeech') }}">Parts of Speech</a></li>
                        <li><a href="{{ url_for('about_page') }}">About Flexicon</a></li>
                    </ul>
                    <ul class="sidenav" id="mobile-demo">
                        <li><a href="{{ url_for('home_page') }}">Words</a></li>
                        <li><a href="{{ url_for('add_word') }}">New Word</a></li>
                        <li><a href="{{ url_for('get_partofspeech') }}">Parts of Speech</a></li>
                        <li><a href="{{ url_for('about_page') }}">About Flexicon</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            {% block content %}
            
            {% endblock %}
        </div>
        <footer class="footer row center-align">
            <a href="https://github.com/sheldon18/flexicon">Copyright© 2019-2020 SHELDON DSOUZA.</a>
            </br>
            <a href="https://github.com/sheldon18/flexicon">All rights reserved.</a>
        </footer>
        <!-- Materialize JavaScript import -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').formSelect();
            $('.sidenav').sidenav();
        });

        $('.datepicker').pickadate({
            selectMonths: true,
            selectYears: 15,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date
        });
        document.getElementById("matfix").addEventListener("click", function(e) {
            e.stopPropagation();
        });
    </script>
    </body>
</html>