{% extends 'base.html' %}
{% block content %}

<h3>Edit word</h3>
<div class="form row">
    <form action="{{ url_for('update_word', word_id=word._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">text_fields</i>
                <input id="word_name" name="word_name" type="text" class="validate" value="{{word.word_name}}">
                <label for="word_name">New word name</label>
            </div>
        </div>
        <div class="row">    
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea id="word_definition" name="word_definition" class="materialize-textarea">{{word.word_definition}}</textarea>
                <label for="word_definition">Definition</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">list</i>
                <select id="part_of_speech" name="part_of_speech">
                  <option value="" disabled selected>Pick a type</option>
                  {% for part in partofspeech %}
                      {% if part.part_of_speech == word.part_of_speech %}
                      <option value="{{part.part_of_speech}}" selected >{{part.part_of_speech}}</option>
                      {% else %}
                      <option value="{{part.part_of_speech}}">{{part.part_of_speech}}</option>
                      {% endif %}
                  {% endfor %}
                </select>
                <label>Part of speech</label>
            </div>
        </div>
        <div class="row">    
            <div class="input-field col s12">
                <i class="material-icons prefix">volume_down</i>
                <textarea id="pronunciation" name="pronunciation" class="materialize-textarea">{{word.pronunciation}}</textarea>
                <label for="pronunciation">Pronunciation</label>
            </div>
        </div>
        <div class="row">    
            <div class="input-field col s12">
                <i class="material-icons prefix">chat</i>
                <textarea id="sentence_use" name="sentence_use" class="materialize-textarea">{{word.sentence_use}}</textarea>
                <label for="sentence_use">Use it in a sentence</label>
            </div>
        </div>
        <div class="row">    
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <textarea id="submitter_name" name="submitter_name" class="materialize-textarea">{{word.submitter_name}}</textarea>
                <label for="submitter_name">Your nick name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit Edit</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}