{% extends 'base.html' %}
{% block content %}
    
<div class="row">
<h5>Welcome to Flexicon, a dictionary created by you.</h5>  
<p class="welcome">Try it, add a word to our fun dictionary below
</br>
</br>
</br>
Check out some of the words already added...</p>
  <ul class="collapsible popout">
    {% for word in words %}
    <li>
      <div class="collapsible-header">
        <i class="material-icons">expand_more</i>
        <div class="word_header col s4">
          "<b>{{word.word_name}}</b>" - ({{word.part_of_speech}})
        </div>
        <div class="col s8">
            <span>
              definition: <b>{{word.word_definition}}</b>
            </span>
        </div>
      </div>
      
      <div class="collapsible-body">
        <span>pronunciation: <b>{{word.pronunciation}}</b></span> </br>
        </br>
        <span>e.g.: "<i>{{word.sentence_use}}</i>"</span> </br>
        </br>
        <span class="right">submitted by: {{word.submitter_name}}</span>
      </div>
      
      <div class="collapsible-body">
      
        
        <div class="edit-delete">
            <a href="mailto:sheldon_keith@outlook.com?Subject=Flexicon%20-%20Delete%20Request - {{word.word_name}}" target="_top" class="waves-effect waves-light btn btn_small right">Delete</a>
            <a href="{{url_for('edit_word', word_id=word._id)}}" class="waves-effect waves-light btn btn_small right">Edit</a>
        </div>
      </div>
    </li>
    {% endfor %}
  
  </ul>
</div>  
<div class="row">
    <a href="{{ url_for('add_word') }}" class="waves-effect waves-light btn">Add Word</a>
</div> 

  
    
{% endblock %}

