{% extends 'base.html' %}
{% block content %}
    

  <ul class="collapsible popout">
    {% for word in words %}
    <li>
      <div class="collapsible-header"><i class="material-icons">expand_more</i>
      "<b>{{word.word_name}}</b>" - ({{word.part_of_speech}})
      </div>
      <div class="collapsible-body">
        <span>
          {{word.word_definition}}
          </span>
      </div>
    </li>
    {% endfor %}
  
  </ul>    
    
{% endblock %}


        {{word.part_of_speech}}
        {{word.word_name}}
        {{word.word_definition}}
        {{word.pronunciation}}
        {{word.sentence_use}}
        {{word.submitter_name}}
        {{word.submit_date}}