{% extends 'base.html' %}
{% block content %}

<div class="row">    

<h3>Parts of Speech</h3>
  <ul class="collapsible popout">
    {% for speechpart in partofspeech %}
    <li>
      
      <div class="collapsible-header">
        <div class="speechpart_header">
          <b>{{speechpart.part_of_speech}}s</b>
        </div>
        <div class="col s8">
            <a href="{{url_for('delete_speechpart', speechpart_id=speechpart._id)}}" class="waves-effect waves-light btn btn_small right">Delete</a>
            <a href="{{url_for('edit_speechpart', speechpart_id=speechpart._id)}}" class="waves-effect waves-light btn btn_small right">Edit</a>
        </div>
      </div>
      
      
    </li>
    {% endfor %}
  
  </ul>  
</div>

<div class="row">
    <a href="{{ url_for('add_speechpart') }}" class="waves-effect waves-light btn">Add Part of Speech</a>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

{% endblock %}